In [1]:
import numpy as np
import pandas as pd

In [2]:
#Dataset for 2017 movies.
credits = pd.read_csv('datasets/credits.csv')
credits

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [3]:
#Dataset for 2017 movies.
meta = pd.read_csv('datasets/movies_metadata.csv')

/Users/apple/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
#Converting into datetime format to get year
meta['release_date'] = pd.to_datetime(meta['release_date'], errors='coerce')

In [5]:
meta['year'] = meta['release_date'].dt.year

In [6]:
meta['year'].value_counts().sort_index()

1874.0       1
1878.0       1
1883.0       1
1887.0       1
1888.0       2
          ...
2015.0    1905
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
Name: year, Length: 135, dtype: int64

In [7]:
# Getting only 2017 movies as we already have movies up to the year 2016 in preprocessing 1 file. 
# We don't have enough data for the movies from 2018, 2019 and 2020. 
# We'll deal with it in the upcoming preprocessing files
new_meta = meta.loc[meta.year == 2017,['genres','id','title','year']]
new_meta

,genres,id,title,year
26560,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0
26561,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0
26565,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0
26566,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0
30536,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0
...,...,...,...,...
45398,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",468707,Thick Lashes of Lauri MÃ¤ntyvaara,2017.0
45417,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",461297,Cop and a Half: New Recruit,2017.0
45437,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",455661,In a Heartbeat,2017.0
45453,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",404604,Mom,2017.0
45465,[],461257,Queerama,2017.0

In [8]:
new_meta['id'] = new_meta['id'].astype(int)
data = pd.merge(new_meta, credits, on='id')
pd.set_option('display.max_colwidth', 75)
data

,genres,id,title,year,cast,crew
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': ...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Sparrow', 'credit_id': '52fe...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'department': 'Production', ..."
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Batman', 'credit_id': '535e...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'department': 'Production', ..."
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', 'credit_id': '545d46a80e0a...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'department': 'Writing', 'ge..."
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / Star-Lord', 'credit_id': '5...","[{'credit_id': '59171547925141583c0315a6', 'department': 'Sound', 'gend..."
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'name': 'Action'}, {'id': 12...",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV', 'credit_id': '5431dd580e...","[{'credit_id': '5431de49c3a36825d300007e', 'department': 'Directing', '..."
...,...,...,...,...,...,...
526,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",468707,Thick Lashes of Lauri MÃ¤ntyvaara,2017.0,"[{'cast_id': 0, 'character': 'Satu', 'credit_id': '597e2086c3a368544001...","[{'credit_id': '597e22f69251415d7801c74a', 'department': 'Directing', '..."
527,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name': 'Comedy'}, {'id': 28, ...",461297,Cop and a Half: New Recruit,2017.0,"[{'cast_id': 0, 'character': 'Detective Simmons', 'credit_id': '593ba04...","[{'credit_id': '593ba0c29251410593009be3', 'department': 'Writing', 'ge..."
528,"[{'id': 10751, 'name': 'Family'}, {'id': 16, 'name': 'Animation'}, {'id...",455661,In a Heartbeat,2017.0,[],"[{'credit_id': '5981a15c92514151e0011b51', 'department': 'Sound', 'gend..."
529,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name': 'Drama'}, {'id': 53, '...",404604,Mom,2017.0,"[{'cast_id': 1, 'character': 'Devki Sabarwal', 'credit_id': '577809adc3...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'department': 'Sound', 'gend..."
530,[],461257,Queerama,2017.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'department': 'Directing', '..."

In [9]:
import ast
data['genres'] = data['genres'].map(lambda x: ast.literal_eval(x))
data['cast'] = data['cast'].map(lambda x: ast.literal_eval(x))
data['crew'] = data['crew'].map(lambda x: ast.literal_eval(x))

In [10]:
data.head()

,genres,id,title,year,cast,crew
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': ...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Sparrow', 'credit_id': '52fe...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'department': 'Production', ..."
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Batman', 'credit_id': '535e...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'department': 'Production', ..."
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', 'credit_id': '545d46a80e0a...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'department': 'Writing', 'ge..."
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / Star-Lord', 'credit_id': '5...","[{'credit_id': '59171547925141583c0315a6', 'department': 'Sound', 'gend..."
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'name': 'Action'}, {'id': 12...",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV', 'credit_id': '5431dd580e...","[{'credit_id': '5431de49c3a36825d300007e', 'department': 'Directing', '..."

In [11]:
def genres_list(x):
    genres = []
    string = " "
    for i in x:        
        if i.get('name') == 'Science Fiction':
            scifi = 'Sci-Fi'
            genres.append(scifi)
        else:
            genres.append(i.get('name'))
    if genres == []:
        return np.NaN
    else:
        return (string.join(genres))

In [12]:
data['genres'] = data['genres'].map(lambda x: genres_list(x))

In [13]:
data

,genres,id,title,year,cast,crew
0,Adventure Action Fantasy Comedy,166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Sparrow', 'credit_id': '52fe...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'department': 'Production', ..."
1,Action Adventure Fantasy Sci-Fi,141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Batman', 'credit_id': '535e...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'department': 'Production', ..."
2,Action Adventure Fantasy Sci-Fi,284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', 'credit_id': '545d46a80e0a...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'department': 'Writing', 'ge..."
3,Action Adventure Comedy Sci-Fi,283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / Star-Lord', 'credit_id': '5...","[{'credit_id': '59171547925141583c0315a6', 'department': 'Sound', 'gend..."
4,Fantasy Action Adventure,245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV', 'credit_id': '5431dd580e...","[{'credit_id': '5431de49c3a36825d300007e', 'department': 'Directing', '..."
...,...,...,...,...,...,...
526,Romance Comedy,468707,Thick Lashes of Lauri MÃ¤ntyvaara,2017.0,"[{'cast_id': 0, 'character': 'Satu', 'credit_id': '597e2086c3a368544001...","[{'credit_id': '597e22f69251415d7801c74a', 'department': 'Directing', '..."
527,Crime Comedy Action Family,461297,Cop and a Half: New Recruit,2017.0,"[{'cast_id': 0, 'character': 'Detective Simmons', 'credit_id': '593ba04...","[{'credit_id': '593ba0c29251410593009be3', 'department': 'Writing', 'ge..."
528,Family Animation Romance Comedy,455661,In a Heartbeat,2017.0,[],"[{'credit_id': '5981a15c92514151e0011b51', 'department': 'Sound', 'gend..."
529,Crime Drama Thriller,404604,Mom,2017.0,"[{'cast_id': 1, 'character': 'Devki Sabarwal', 'credit_id': '577809adc3...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'department': 'Sound', 'gend..."
530,NaN,461257,Queerama,2017.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'department': 'Directing', '..."

In [14]:
data['cast'][0]

[{'cast_id': 1,
  'character': 'Captain Jack Sparrow',
  'credit_id': '52fe4c9cc3a36847f8236a53',
  'gender': 2,
  'id': 85,
  'name': 'Johnny Depp',
  'order': 0,
  'profile_path': '/kbWValANhZI8rbWZXximXuMN4UN.jpg'},
 {'cast_id': 9,
  'character': 'Captain Armando Salazar',
  'credit_id': '54db4949c3a368122d0017fe',
  'gender': 2,
  'id': 3810,
  'name': 'Javier Bardem',
  'order': 1,
  'profile_path': '/grBOK7Ep09JBE3H5LyV5JaZZ1XZ.jpg'},
 {'cast_id': 16,
  'character': 'Captain Hector Barbossa',
  'credit_id': '54e44e5ec3a368454b00a02f',
  'gender': 2,
  'id': 118,
  'name': 'Geoffrey Rush',
  'order': 2,
  'profile_path': '/5h91WHSK80YtqTk1bMiar2IZzO2.jpg'},
 {'cast_id': 7,
  'character': 'Henry Turner',
  'credit_id': '54db49359251415a0d0012a0',
  'gender': 2,
  'id': 1017347,
  'name': 'Brenton Thwaites',
  'order': 3,
  'profile_path': '/dM0m0OxREfW4HxwV2qQeitS8dfO.jpg'},
 {'cast_id': 8,
  'character': 'Carina Smyth',
  'credit_id': '54db493e925141618f00189a',
  'gender': 1,
  'id': 115150,
  'name': 'Kaya Scodelario',
  'order': 4,
  'profile_path': '/iTrPnn7oS96k0iWPzNxaKCNutB6.jpg'},
 {'cast_id': 14,
  'character': 'Joshamee Gibbs',
  'credit_id': '54e44e31c3a368087b004b56',
  'gender': 2,
  'id': 2449,
  'name': 'Kevin McNally',
  'order': 5,
  'profile_path': '/fIJF3TZn8ckHkcl44oX77GvPv9e.jpg'},
 {'cast_id': 15,
  'character': 'Scrum',
  'credit_id': '54e44e4fc3a3684897002c08',
  'gender': 2,
  'id': 1115,
  'name': 'Stephen Graham',
  'order': 6,
  'profile_path': '/81VZiCA6w8nXG0UjqXCgSJare5N.jpg'},
 {'cast_id': 28,
  'character': 'Scarfield',
  'credit_id': '57f68ea49251413616007300',
  'gender': 2,
  'id': 1371,
  'name': 'David Wenham',
  'order': 7,
  'profile_path': '/xDUXLTF5i2fYx7eSEAR3IdaUb9y.jpg'},
 {'cast_id': 13,
  'character': 'Shansa',
  'credit_id': '54e44e0cc3a3685756009e87',
  'gender': 1,
  'id': 229932,
  'name': 'Golshifteh Farahani',
  'order': 8,
  'profile_path': '/lbsd2lAIQq4egOUXDIfjhte12vv.jpg'},
 {'cast_id': 17,
  'character': 'Will Turner',
  'credit_id': '554768e292514119e00065f8',
  'gender': 2,
  'id': 114,
  'name': 'Orlando Bloom',
  'order': 9,
  'profile_path': '/kKWJlX2tcjqceSfUxnV7Jle5Kt.jpg'},
 {'cast_id': 18,
  'character': 'Marty',
  'credit_id': '554769499251411147001bcb',
  'gender': 2,
  'id': 4030,
  'name': 'Martin Klebba',
  'order': 10,
  'profile_path': '/amlhUrXQ7t1NEPajdj2dQdbC0rt.jpg'},
 {'cast_id': 23,
  'character': 'Mullroy',
  'credit_id': '57e2922bc3a36808b900c1a3',
  'gender': 2,
  'id': 1714,
  'name': 'Angus Barnett',
  'order': 11,
  'profile_path': '/usYsWRccdM4Y00RycsQFFOdNVe.jpg'},
 {'cast_id': 19,
  'character': 'Cremble',
  'credit_id': '55476961c3a3680ce80091da',
  'gender': 0,
  'id': 1193833,
  'name': 'Adam Brown',
  'order': 12,
  'profile_path': '/54iHvIA8ZTNfvKpb2ZxRY73A5MZ.jpg'},
 {'cast_id': 38,
  'character': 'Bollard',
  'credit_id': '57f68ea7925141360100754f',
  'gender': 0,
  'id': 1355191,
  'name': 'Danny Kirrane',
  'order': 13,
  'profile_path': '/vn4NIHMJb0Sf39MOP3cgMdk2N8h.jpg'},
 {'cast_id': 22,
  'character': 'Murtogg',
  'credit_id': '57e29210c3a3680a110056ca',
  'gender': 0,
  'id': 1713,
  'name': 'Giles New',
  'order': 14,
  'profile_path': '/e0Ap9fkLAFcxLVHpK8KH2TQV3wI.jpg'},
 {'cast_id': 84,
  'character': 'Pike',
  'credit_id': '591f7a46c3a368723d03b63b',
  'gender': 0,
  'id': 1819920,
  'name': 'Delroy Atkinson',
  'order': 15,
  'profile_path': '/XcMnuXUPLNYzRL58s5TKPUFq2g.jpg'},
 {'cast_id': 21,
  'character': 'Uncle Jack',
  'credit_id': '57e291cf92514118f700625d',
  'gender': 2,
  'id': 10215,
  'name': 'Paul McCartney',
  'order': 16,
  'profile_path': '/v7FagbD9EY4MVUtcrk9ESjPWV7q.jpg'},
 {'cast_id': 43,
  'character': 'Elizabeth Swann',
  'credit_id': '58f708cf9251415dec00953a',
  'gender': 1,
  'id': 116,
  'name': 'Keira Knightley',
  'order': 17,
  'profile_path': '/rv6quYbTgFTmBAoePwy5xuurW3g.jpg'},
 {'cast_id': 91,
  'character': 'Young Jack Sparrow',
  'credit_id': '59338b3dc3a3685a35016ca6',
  'gender': 0,
  'id': 1772106,
  'name': 'Anthony De La Torre',
  'order': 18,
  'profile_path': '/sgtspl6fcAuhPo4wKYkzlzSgvmg.jpg'},
 {'cast_id': 92,
  'character': 'Young Henry Turner',
  'credit_id': '59338b66c3a36859de01633a',
  'gender': 2,
  'id': 1828139,
  'name': 'Lewis McGowan',
  'order': 19,
  'profile_path': '/27pyhArCRR8ZqIyiak9c0N0l1nz.jpg'},
 {'cast_id': 85,
  'character': 'Lieutenant Lesaro',
  'credit_id': '591f7a8cc3a368799b037a0a',
  'gender': 2,
  'id': 1089049,
  'name': 'Juan Carlos Vellido',
  'order': 20,
  'profile_path': '/m1GEfFgcDNPTCTGUhrita7d5ec1.jpg'},
 {'cast_id': 86,
  'character': 'Officer Madga',
  'credit_id': '591f7acc925141482f039128',
  'gender': 0,
  'id': 1530814,
  'name': 'Rodney Afif',
  'order': 21,
  'profile_path': '/wr1gTOcRcyKO4fYlUwsPLRlP7bn.jpg'},
 {'cast_id': 87,
  'character': 'Mayor Dix',
  'credit_id': '591f7ae1c3a3687a64039857',
  'gender': 2,
  'id': 27752,
  'name': 'Bruce Spence',
  'order': 22,
  'profile_path': '/pwJJBmO9MG3OxVX9efGrB6BTFyw.jpg'},
 {'cast_id': 31,
  'character': "Mayor's Wife",
  'credit_id': '57f68ea5c3a3681607006e8c',
  'gender': 1,
  'id': 61914,
  'name': 'Zoe Ventoura',
  'order': 23,
  'profile_path': '/fMBiXCtCTqpEmjAfTVC3NssVMCk.jpg'},
 {'cast_id': 33,
  'character': 'Maddox',
  'credit_id': '57f68ea6c3a3681607006e8e',
  'gender': 2,
  'id': 1112872,
  'name': 'James Mackay',
  'order': 24,
  'profile_path': '/nJPYaP94wXwh1bYnFzkQh1BB30l.jpg'},
 {'cast_id': 51,
  'character': 'Upper Class Lady',
  'credit_id': '591293c59251414edb04e228',
  'gender': 1,
  'id': 1813772,
  'name': 'Brooke Chamberlain',
  'order': 25,
  'profile_path': '/vYqTEUUY4EG6jPzP5wnZNhy4aAy.jpg'},
 {'cast_id': 45,
  'character': 'Young Captain Teague',
  'credit_id': '5912926dc3a368646b0521a2',
  'gender': 2,
  'id': 16811,
  'name': 'Alexander Scheer',
  'order': 26,
  'profile_path': '/f6eWj5VEMBb3O3aviqgMoujM3kf.jpg'},
 {'cast_id': 32,
  'character': 'Pirate Broom',
  'credit_id': '57f68ea5925141360d007429',
  'gender': 0,
  'id': 61784,
  'name': 'Goran D. Kleut',
  'order': 27,
  'profile_path': '/ikAVxzlgo4bXQWn4GpoFfDrgnth.jpg'},
 {'cast_id': 40,
  'character': 'Pirate',
  'credit_id': '57f68ea892514136130074b0',
  'gender': 0,
  'id': 1535048,
  'name': 'Wassim Hawat',
  'order': 28,
  'profile_path': '/yTJCBoDa1OKt7h6JDKYaZnlLqeA.jpg'},
 {'cast_id': 37,
  'character': 'British Executioner',
  'credit_id': '57f68ea7925141360100754d',
  'gender': 0,
  'id': 1394235,
  'name': "Ben O'Toole",
  'order': 29,
  'profile_path': '/f9cCCp1PlRZo4sWdwppHTeOC8kZ.jpg'},
 {'cast_id': 42,
  'character': 'Young Pirate Jeff',
  'credit_id': '57f68ea8c3a368161c007391',
  'gender': 2,
  'id': 1690240,
  'name': 'Finn Ireland',
  'order': 30,
  'profile_path': '/x1IZJZLFHboPhZbdycZcNo2kZoM.jpg'},
 {'cast_id': 44,
  'character': 'Spanish Officer',
  'credit_id': '59129248c3a36864ec048639',
  'gender': 0,
  'id': 1414764,
  'name': 'Nico Cortez',
  'order': 31,
  'profile_path': '/ujk9vAlutbLUe9VbjPE6RDuQqVC.jpg'},
 {'cast_id': 49,
  'character': 'Young Greenhorn',
  'credit_id': '591293549251414eca04accf',
  'gender': 0,
  'id': 1394227,
  'name': 'James Fraser',
  'order': 32,
  'profile_path': '/4lcpUIRwFVmPkkxUvYdUNSQQddc.jpg'},
 {'cast_id': 115,
  'character': 'Woman',
  'credit_id': '59c783a3c3a368140305a3f1',
  'gender': 0,
  'id': 1499792,
  'name': 'Derani Scarr',
  'order': 33,
  'profile_path': '/aob0mfWTaJaUlHDVef2dA7Dlwhc.jpg'},
 {'cast_id': 93,
  'character': 'Grimes',
  'credit_id': '5999d18a9251414a18001dd4',
  'gender': 0,
  'id': 126200,
  'name': 'Robert Morgan',
  'order': 34,
  'profile_path': '/8sFiiilQmp2jvLKn6h5QPchA5Gq.jpg'},
 {'cast_id': 94,
  'character': 'Pirate with Broom',
  'credit_id': '59a67afe9251411293009e0c',
  'gender': 0,
  'id': 61784,
  'name': 'Goran D. Kleut',
  'order': 35,
  'profile_path': '/ikAVxzlgo4bXQWn4GpoFfDrgnth.jpg'},
 {'cast_id': 29,
  'character': 'Spanish Soldier',
  'credit_id': '57f68ea5925141360100754a',
  'gender': 2,
  'id': 1386458,
  'name': 'Mahesh Jadu',
  'order': 36,
  'profile_path': '/gfcZiYji4x3tjGQq7vTK8goz40D.jpg'},
 {'cast_id': 34,
  'character': 'British Soldier',
  'credit_id': '57f68ea692514136130074ae',
  'gender': 0,
  'id': 1394427,
  'name': 'Travis Jeffery',
  'order': 37,
  'profile_path': '/lOR40uoh60aKx3ORArhKBQAaBO6.jpg'},
 {'cast_id': 111,
  'character': 'British Soldier',
  'credit_id': '59c77df0c3a36813ed057ad8',
  'gender': 0,
  'id': 1205492,
  'name': 'Akos Armont',
  'order': 38,
  'profile_path': '/t0nRw07H8aXtzz7az5yjDSZwVVg.jpg'},
 {'cast_id': 104,
  'character': 'British Soldier',
  'credit_id': '59c6c742c3a368141e044fa3',
  'gender': 0,
  'id': 1533328,
  'name': 'Sean Lynch',
  'order': 39,
  'profile_path': '/m8Q9SaYTWJ5iXLoS2E4zvcD4tQ1.jpg'},
 {'cast_id': 95,
  'character': 'British Soldier',
  'credit_id': '59a67b84c3a36827990085f8',
  'gender': 0,
  'id': 1394235,
  'name': "Ben O'Toole",
  'order': 40,
  'profile_path': '/f9cCCp1PlRZo4sWdwppHTeOC8kZ.jpg'},
 {'cast_id': 105,
  'character': 'CG Ghost Soldier',
  'credit_id': '59c6c7d69251415b32049e77',
  'gender': 0,
  'id': 1893668,
  'name': 'Akshay Caplash',
  'order': 41,
  'profile_path': '/s3QTX4IdN3wUNN9YiZBid2ANhmM.jpg'},
 {'cast_id': 106,
  'character': 'CG Ghost Soldier',
  'credit_id': '59c6c8629251415b6e047778',
  'gender': 2,
  'id': 1893671,
  'name': 'Rafael Torrijos',
  'order': 42,
  'profile_path': '/lro1QSBv5cmkiO8R8RbxADGXIka.jpg'},
 {'cast_id': 112,
  'character': 'CG Ghost Soldier',
  'credit_id': '59c7805d9251415b87053e7f',
  'gender': 0,
  'id': 1893872,
  'name': 'Mivon Prince-Leyva',
  'order': 43,
  'profile_path': '/c5CfJBn3B0Ce07TxgPUx9ttUTLv.jpg'},
 {'cast_id': 110,
  'character': 'First Officer Wade',
  'credit_id': '59c77d9cc3a3681454052a75',
  'gender': 2,
  'id': 76068,
  'name': 'Michael Dorman',
  'order': 44,
  'profile_path': '/95hvX99zyHIpHJ9Ajv35TWgNlGN.jpg'},
 {'cast_id': 116,
  'character': 'Officer Cole',
  'credit_id': '59c784a99251415b870541ed',
  'gender': 2,
  'id': 33184,
  'name': 'Rohan Nichol',
  'order': 45,
  'profile_path': '/nzvL3MRpADYWlH4ppyYgmCnM1kZ.jpg'},
 {'cast_id': 96,
  'character': 'Officer Santos',
  'credit_id': '59c6b999c3a368144304be34',
  'gender': 0,
  'id': 1893640,
  'name': 'Rupert Raineri',
  'order': 46,
  'profile_path': '/oXeONe2M6qwiVlDFpJIT1wrA9Ek.jpg'},
 {'cast_id': 97,
  'character': 'Officer Moss',
  'credit_id': '59c6b9fec3a368143004b954',
  'gender': 0,
  'id': 1893641,
  'name': 'Stephen Lopez',
  'order': 47,
  'profile_path': '/hYoItjKNWnncBbjM3voLEu5DnN8.jpg'},
 {'cast_id': 109,
  'character': 'Captain Toms',
  'credit_id': '59c77d659251415b5d05482d',
  'gender': 0,
  'id': 75744,
  'name': 'Richard Piper',
  'order': 48,
  'profile_path': '/3SEI2j8jIzVthrYifpMgjNC4MHp.jpg'},
 {'cast_id': 98,
  'character': 'Mr. Krill',
  'credit_id': '59c6bc1dc3a368140304c936',
  'gender': 0,
  'id': 1347909,
  'name': 'Justin Smith',
  'order': 49,
  'profile_path': '/7knG8VrDuEmhAZT2B4p1zmMjDJy.jpg'},
 {'cast_id': 99,
  'character': 'Mr. Swift',
  'credit_id': '59c6be5f9251415b2804b325',
  'gender': 0,
  'id': 1486057,
  'name': 'John Leary',
  'order': 50,
  'profile_path': '/bCP5mcXgFp5X7mq7jTmYpmBbtHE.jpg'},
 {'cast_id': 100,
  'character': 'Bowen',
  'credit_id': '59c6c070c3a368141e0448fa',
  'gender': 0,
  'id': 1014587,
  'name': 'Bryan Probets',
  'order': 51,
  'profile_path': '/wp0o01OuR5YF3DWjBBUYAWUbzHA.jpg'},
 {'cast_id': 113,
  'character': 'Pig Kelly',
  'credit_id': '59c7810a9251415b240582b0',
  'gender': 2,
  'id': 57904,
  'name': 'Ken Radley',
  'order': 52,
  'profile_path': '/jqiM2DbXtNRF3yxRaU2nkYzewEJ.jpg'},
 {'cast_id': 101,
  'character': 'Beatrice',
  'credit_id': '59c6c14bc3a36813ed04aed4',
  'gender': 1,
  'id': 1252521,
  'name': 'Hannah Walters',
  'order': 53,
  'profile_path': '/3hUokXHcRhdpM971cb3kbaVSrY8.jpg'},
 {'cast_id': 114,
  'character': 'Priest',
  'credit_id': '59c7826c9251415b32055db4',
  'gender': 0,
  'id': 1545346,
  'name': 'Jonathan Elsom',
  'order': 54,
  'profile_path': '/i1LEAdB5y6zg4lVa01hV9ZZo7Ew.jpg'},
 {'cast_id': 102,
  'character': 'Captain Morgan',
  'credit_id': '59c6c217c3a3681454046e90',
  'gender': 2,
  'id': 143328,
  'name': 'K. Todd Freeman',
  'order': 55,
  'profile_path': '/2L7Qh4hA2dsCIPZAVfgerax7i2q.jpg'},
 {'cast_id': 107,
  'character': 'Jail Guard',
  'credit_id': '59c6c957c3a368140304d946',
  'gender': 0,
  'id': 1893677,
  'name': 'James Lawson',
  'order': 56,
  'profile_path': '/gtcdsTruLPzpL2xJhePsOq38LjX.jpg'},
 {'cast_id': 108,
  'character': "Uncle Jack's Cellmate",
  'credit_id': '59c6ca34c3a3681461041481',
  'gender': 0,
  'id': 1216570,
  'name': 'Darcy Laurie',
  'order': 57,
  'profile_path': '/bTZgOB4wl4ECbHiGjoKQAQdvTUW.jpg'},
 {'cast_id': 30,
  'character': 'Townswoman (uncredited)',
  'credit_id': '57f68ea592514172c5002e01',
  'gender': 1,
  'id': 1255055,
  'name': 'Jessica Green',
  'order': 58,
  'profile_path': '/7l3bkNv92uii8im5B4vyF0ABgcS.jpg'},
 {'cast_id': 52,
  'character': 'Townswoman (uncredited)',
  'credit_id': '591294019251414e8504da81',
  'gender': 0,
  'id': 1345090,
  'name': 'Haley Madison',
  'order': 59,
  'profile_path': '/3XJGp5oJCGvqosOhSSgQZWI8cKo.jpg'},
 {'cast_id': 36,
  'character': 'Townschild (uncredited)',
  'credit_id': '57f68ea7c3a36816250071ea',
  'gender': 0,
  'id': 1632129,
  'name': 'Kiara Freeman',
  'order': 60,
  'profile_path': '/3n5EDxHBritMzqxIS47A6Qccg74.jpg'},
 {'cast_id': 35,
  'character': 'Townschild (uncredited)',
  'credit_id': '57f68ea6c3a3681604007202',
  'gender': 0,
  'id': 1690237,
  'name': 'Piper Nairn',
  'order': 61,
  'profile_path': '/cOVpgx5JF9XeFUF2am9Bk4f5wkh.jpg'},
 {'cast_id': 53,
  'character': 'Townsperson (uncredited)',
  'credit_id': '5912942ec3a36864c604d3d7',
  'gender': 1,
  'id': 1692989,
  'name': 'Suzanne Dervish-Ali',
  'order': 62,
  'profile_path': '/7OQgHuuzFbtO9jAF4w6zcuzqmAK.jpg'},
 {'cast_id': 50,
  'character': 'Townsperson (uncredited)',
  'credit_id': '591293a5c3a368650a04aff2',
  'gender': 0,
  'id': 1813771,
  'name': 'Donnie Baxter',
  'order': 63,
  'profile_path': '/dm2cSQwySnOj9sWqca9nBspS8sL.jpg'},
 {'cast_id': 41,
  'character': 'Maid (uncredited)',
  'credit_id': '57f68ea8925141360300747b',
  'gender': 0,
  'id': 1690239,
  'name': 'Winnie Mzembe',
  'order': 64,
  'profile_path': '/lUTozzeBvTZZkpUQLE5V5baS12X.jpg'},
 {'cast_id': 39,
  'character': 'Greenwich Village Upper Class Lady (uncredited)',
  'credit_id': '57f68ea892514172c5002e04',
  'gender': 0,
  'id': 1690238,
  'name': 'Christie-Lee Britten',
  'order': 65,
  'profile_path': '/uNSjA73XjDbQMJB1XGnoKB89zux.jpg'},
 {'cast_id': 48,
  'character': 'Twin Middle Class Lady (uncredited)',
  'credit_id': '5912932f9251414e8904ee64',
  'gender': 0,
  'id': 1813770,
  'name': 'Mollie McGregor',
  'order': 66,
  'profile_path': '/q4XZ9rV1TbrsqvK91a9FAMudL6C.jpg'},
 {'cast_id': 103,
  'character': 'Twin Middle Class Lady (uncredited)',
  'credit_id': '59c6c5399251415b6e0473ea',
  'gender': 0,
  'id': 1571654,
  'name': 'Sophia McGregor',
  'order': 67,
  'profile_path': '/egbKVmd3f1xgAq90vDiRLLZIFXx.jpg'}]

In [15]:
def get_actor_name_1(x):
    actor_name = []
    for i in x:
        actor_name.append(i.get('name'))
    if actor_name == []:
        return np.NaN
    else:
        return actor_name[0]

In [16]:
data['actor_name_1'] = data['cast'].map(lambda x: get_actor_name_1(x))

In [17]:
data.head()

,genres,id,title,year,cast,crew,actor_name_1
0,Adventure Action Fantasy Comedy,166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Sparrow', 'credit_id': '52fe...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'department': 'Production', ...",Johnny Depp
1,Action Adventure Fantasy Sci-Fi,141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Batman', 'credit_id': '535e...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'department': 'Production', ...",Ben Affleck
2,Action Adventure Fantasy Sci-Fi,284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', 'credit_id': '545d46a80e0a...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'department': 'Writing', 'ge...",Chris Hemsworth
3,Action Adventure Comedy Sci-Fi,283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / Star-Lord', 'credit_id': '5...","[{'credit_id': '59171547925141583c0315a6', 'department': 'Sound', 'gend...",Chris Pratt
4,Fantasy Action Adventure,245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV', 'credit_id': '5431dd580e...","[{'credit_id': '5431de49c3a36825d300007e', 'department': 'Directing', '...",Pierce Brosnan

In [18]:
def get_actor_name_2(x):
    actor_name = []
    for i in x:
        actor_name.append(i.get('name'))
    if actor_name == [] or len(actor_name) <= 1:
        return np.NaN
    else:
        return actor_name[1]

In [19]:
data['actor_name_2'] = data['cast'].map(lambda x: get_actor_name_2(x))

In [20]:
data.head()

,genres,id,title,year,cast,crew,actor_name_1,actor_name_2
0,Adventure Action Fantasy Comedy,166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Sparrow', 'credit_id': '52fe...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'department': 'Production', ...",Johnny Depp,Javier Bardem
1,Action Adventure Fantasy Sci-Fi,141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Batman', 'credit_id': '535e...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'department': 'Production', ...",Ben Affleck,Henry Cavill
2,Action Adventure Fantasy Sci-Fi,284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', 'credit_id': '545d46a80e0a...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'department': 'Writing', 'ge...",Chris Hemsworth,Tom Hiddleston
3,Action Adventure Comedy Sci-Fi,283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / Star-Lord', 'credit_id': '5...","[{'credit_id': '59171547925141583c0315a6', 'department': 'Sound', 'gend...",Chris Pratt,Zoe Saldana
4,Fantasy Action Adventure,245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV', 'credit_id': '5431dd580e...","[{'credit_id': '5431de49c3a36825d300007e', 'department': 'Directing', '...",Pierce Brosnan,William Hurt

In [21]:
def get_actor_name_3(x):
    actor_name = []
    for i in x:
        actor_name.append(i.get('name'))
    if actor_name == [] or len(actor_name) <= 2:
        return np.NaN
    else:
        return actor_name[2]

In [22]:
data['actor_name_3'] = data['cast'].map(lambda x: get_actor_name_3(x))

In [23]:
data

,genres,id,title,year,cast,crew,actor_name_1,actor_name_2,actor_name_3
0,Adventure Action Fantasy Comedy,166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Sparrow', 'credit_id': '52fe...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'department': 'Production', ...",Johnny Depp,Javier Bardem,Geoffrey Rush
1,Action Adventure Fantasy Sci-Fi,141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Batman', 'credit_id': '535e...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'department': 'Production', ...",Ben Affleck,Henry Cavill,Gal Gadot
2,Action Adventure Fantasy Sci-Fi,284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', 'credit_id': '545d46a80e0a...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'department': 'Writing', 'ge...",Chris Hemsworth,Tom Hiddleston,Cate Blanchett
3,Action Adventure Comedy Sci-Fi,283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / Star-Lord', 'credit_id': '5...","[{'credit_id': '59171547925141583c0315a6', 'department': 'Sound', 'gend...",Chris Pratt,Zoe Saldana,Dave Bautista
4,Fantasy Action Adventure,245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV', 'credit_id': '5431dd580e...","[{'credit_id': '5431de49c3a36825d300007e', 'department': 'Directing', '...",Pierce Brosnan,William Hurt,Benjamin Walker
...,...,...,...,...,...,...,...,...,...
526,Romance Comedy,468707,Thick Lashes of Lauri MÃ¤ntyvaara,2017.0,"[{'cast_id': 0, 'character': 'Satu', 'credit_id': '597e2086c3a368544001...","[{'credit_id': '597e22f69251415d7801c74a', 'department': 'Directing', '...",Inka HaapamÃ¤ki,Rosa Honkonen,Tiitus Rantala
527,Crime Comedy Action Family,461297,Cop and a Half: New Recruit,2017.0,"[{'cast_id': 0, 'character': 'Detective Simmons', 'credit_id': '593ba04...","[{'credit_id': '593ba0c29251410593009be3', 'department': 'Writing', 'ge...",Lou Diamond Phillips,Wallace Shawn,Gina Holden
528,Family Animation Romance Comedy,455661,In a Heartbeat,2017.0,[],"[{'credit_id': '5981a15c92514151e0011b51', 'department': 'Sound', 'gend...",NaN,NaN,NaN
529,Crime Drama Thriller,404604,Mom,2017.0,"[{'cast_id': 1, 'character': 'Devki Sabarwal', 'credit_id': '577809adc3...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'department': 'Sound', 'gend...",Sridevi Kapoor,Sajal Ali,Akshaye Khanna
530,NaN,461257,Queerama,2017.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'department': 'Directing', '...",NaN,NaN,NaN

In [24]:
def get_director(x):
    director_name = []
    string = " "
    for i in x:
        if i.get('job') == 'Director':
            director_name.append(i.get('name'))
    if director_name == []:
        return np.NaN
    else:
        return (string.join(director_name))

In [25]:
data['director_name'] = data['crew'].map(lambda x: get_director(x))

In [26]:
data.head()

,genres,id,title,year,cast,crew,actor_name_1,actor_name_2,actor_name_3,director_name
0,Adventure Action Fantasy Comedy,166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Sparrow', 'credit_id': '52fe...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'department': 'Production', ...",Johnny Depp,Javier Bardem,Geoffrey Rush,Joachim RÃ¸nning Espen Sandberg
1,Action Adventure Fantasy Sci-Fi,141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Batman', 'credit_id': '535e...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'department': 'Production', ...",Ben Affleck,Henry Cavill,Gal Gadot,Zack Snyder
2,Action Adventure Fantasy Sci-Fi,284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', 'credit_id': '545d46a80e0a...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'department': 'Writing', 'ge...",Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Taika Waititi
3,Action Adventure Comedy Sci-Fi,283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / Star-Lord', 'credit_id': '5...","[{'credit_id': '59171547925141583c0315a6', 'department': 'Sound', 'gend...",Chris Pratt,Zoe Saldana,Dave Bautista,James Gunn
4,Fantasy Action Adventure,245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV', 'credit_id': '5431dd580e...","[{'credit_id': '5431de49c3a36825d300007e', 'department': 'Directing', '...",Pierce Brosnan,William Hurt,Benjamin Walker,Sean McNamara

In [27]:
data = data.loc[:, ['genres','title','actor_name_1','actor_name_2','actor_name_3','director_name']]

In [28]:
data.head()

,genres,title,actor_name_1,actor_name_2,actor_name_3,director_name
0,Adventure Action Fantasy Comedy,Pirates of the Caribbean: Dead Men Tell No Tales,Johnny Depp,Javier Bardem,Geoffrey Rush,Joachim RÃ¸nning Espen Sandberg
1,Action Adventure Fantasy Sci-Fi,Justice League,Ben Affleck,Henry Cavill,Gal Gadot,Zack Snyder
2,Action Adventure Fantasy Sci-Fi,Thor: Ragnarok,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Taika Waititi
3,Action Adventure Comedy Sci-Fi,Guardians of the Galaxy Vol. 2,Chris Pratt,Zoe Saldana,Dave Bautista,James Gunn
4,Fantasy Action Adventure,The King's Daughter,Pierce Brosnan,William Hurt,Benjamin Walker,Sean McNamara

In [29]:
data.isna().sum()

genres            7
title             0
actor_name_1     22
actor_name_2     55
actor_name_3     70
director_name     4
dtype: int64

In [34]:
data.dropna(how = 'any', inplace = True)

In [35]:
data.isna().sum()

genres           0
title            0
actor_name_1     0
actor_name_2     0
actor_name_3     0
director_name    0
dtype: int64

In [36]:
data['title'] = data['title'].str.lower()

In [37]:
data['tags'] = data['genres'] + " "+ data['title']+ " "+ data['actor_name_1'] + " "+data['actor_name_2'] + " " + data['actor_name_3'] + data['director_name']

In [40]:
metadata = pd.read_csv('datasets/till_2016_data.csv')

In [41]:
metadata.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens

In [45]:
data = data.rename(columns= {'title':'movie_title'})
data = data.rename(columns= {'actor_name_1':'actor_1_name'})
data = data.rename(columns= {'actor_name_2':'actor_2_name'})
data = data.rename(columns= {'actor_name_3':'actor_3_name'})

In [46]:
data

,genres,movie_title,actor_1_name,actor_2_name,actor_3_name,director_name,tags
0,Adventure Action Fantasy Comedy,pirates of the caribbean: dead men tell no tales,Johnny Depp,Javier Bardem,Geoffrey Rush,Joachim RÃ¸nning Espen Sandberg,Adventure Action Fantasy Comedy pirates of the caribbean: dead men tell...
1,Action Adventure Fantasy Sci-Fi,justice league,Ben Affleck,Henry Cavill,Gal Gadot,Zack Snyder,Action Adventure Fantasy Sci-Fi justice league Ben Affleck Henry Cavill...
2,Action Adventure Fantasy Sci-Fi,thor: ragnarok,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Taika Waititi,Action Adventure Fantasy Sci-Fi thor: ragnarok Chris Hemsworth Tom Hidd...
3,Action Adventure Comedy Sci-Fi,guardians of the galaxy vol. 2,Chris Pratt,Zoe Saldana,Dave Bautista,James Gunn,Action Adventure Comedy Sci-Fi guardians of the galaxy vol. 2 Chris Pra...
4,Fantasy Action Adventure,the king's daughter,Pierce Brosnan,William Hurt,Benjamin Walker,Sean McNamara,Fantasy Action Adventure the king's daughter Pierce Brosnan William Hur...
...,...,...,...,...,...,...,...
524,Romance Comedy,the incredible jessica james,Jessica Williams,Chris O'Dowd,Keith Stanfield,Jim Strouse,Romance Comedy the incredible jessica james Jessica Williams Chris O'Do...
525,Romance,can't buy my love,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Farhad Mann,Romance can't buy my love Adelaide Kane Benjamin Hollingsworth Jean Lou...
526,Romance Comedy,thick lashes of lauri mÃ¤ntyvaara,Inka HaapamÃ¤ki,Rosa Honkonen,Tiitus Rantala,Hannaleena Hauru,Romance Comedy thick lashes of lauri mÃ¤ntyvaara Inka HaapamÃ¤ki Rosa Hon...
527,Crime Comedy Action Family,cop and a half: new recruit,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Jonathan A. Rosenbaum,Crime Comedy Action Family cop and a half: new recruit Lou Diamond Phil...
529,Crime Drama Thriller,mom,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Ravi Udyawar,Crime Drama Thriller mom Sridevi Kapoor Sajal Ali Akshaye KhannaRavi Ud...

In [47]:
metadata['tags'] = metadata['genres'] + " "+metadata['movie_title']+ " "+ metadata['actor_1_name'] + " "+metadata['actor_2_name']+" "+ metadata['actor_3_name']+" "+metadata['director_name']

In [48]:
metadata

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,tags
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,Action Adventure Fantasy Sci-Fi avatar CCH Pounder Joel David Moore Wes...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Action Adventure Fantasy pirates of the caribbean: at world's end Johnn...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Action Adventure Thriller spectre Christoph Waltz Rory Kinnear Stephani...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Action Thriller the dark knight rises Tom Hardy Christian Bale Joseph G...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens,Documentary star wars: episode vii - the force awakensÂ Doug...
...,...,...,...,...,...,...,...
5038,Scott Smith,Eric Mabius,Daphne Zuniga,Crystal Lowe,Comedy Drama,signed sealed delivered,Comedy Drama signed sealed delivered Eric Mabius Daphne Zuniga Crystal ...
5039,NaN,Natalie Zea,Valorie Curry,Sam Underwood,Crime Drama Mystery Thriller,the following,NaN
5040,Benjamin Roberds,Eva Boehnke,Maxwell Moody,David Chandler,Drama Horror Thriller,a plague so pleasant,Drama Horror Thriller a plague so pleasant Eva Boehnke Maxwell Moody Da...
5041,Daniel Hsia,Alan Ruck,Daniel Henney,Eliza Coupe,Comedy Drama Romance,shanghai calling,Comedy Drama Romance shanghai calling Alan Ruck Daniel Henney Eliza Cou...
5042,Jon Gunn,John August,Brian Herzlinger,Jon Gunn,Documentary,my date with drew,Documentary my date with drew John August Brian Herzlinger Jon Gunn Jon...

In [49]:
data

,genres,movie_title,actor_1_name,actor_2_name,actor_3_name,director_name,tags
0,Adventure Action Fantasy Comedy,pirates of the caribbean: dead men tell no tales,Johnny Depp,Javier Bardem,Geoffrey Rush,Joachim RÃ¸nning Espen Sandberg,Adventure Action Fantasy Comedy pirates of the caribbean: dead men tell...
1,Action Adventure Fantasy Sci-Fi,justice league,Ben Affleck,Henry Cavill,Gal Gadot,Zack Snyder,Action Adventure Fantasy Sci-Fi justice league Ben Affleck Henry Cavill...
2,Action Adventure Fantasy Sci-Fi,thor: ragnarok,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Taika Waititi,Action Adventure Fantasy Sci-Fi thor: ragnarok Chris Hemsworth Tom Hidd...
3,Action Adventure Comedy Sci-Fi,guardians of the galaxy vol. 2,Chris Pratt,Zoe Saldana,Dave Bautista,James Gunn,Action Adventure Comedy Sci-Fi guardians of the galaxy vol. 2 Chris Pra...
4,Fantasy Action Adventure,the king's daughter,Pierce Brosnan,William Hurt,Benjamin Walker,Sean McNamara,Fantasy Action Adventure the king's daughter Pierce Brosnan William Hur...
...,...,...,...,...,...,...,...
524,Romance Comedy,the incredible jessica james,Jessica Williams,Chris O'Dowd,Keith Stanfield,Jim Strouse,Romance Comedy the incredible jessica james Jessica Williams Chris O'Do...
525,Romance,can't buy my love,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Farhad Mann,Romance can't buy my love Adelaide Kane Benjamin Hollingsworth Jean Lou...
526,Romance Comedy,thick lashes of lauri mÃ¤ntyvaara,Inka HaapamÃ¤ki,Rosa Honkonen,Tiitus Rantala,Hannaleena Hauru,Romance Comedy thick lashes of lauri mÃ¤ntyvaara Inka HaapamÃ¤ki Rosa Hon...
527,Crime Comedy Action Family,cop and a half: new recruit,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Jonathan A. Rosenbaum,Crime Comedy Action Family cop and a half: new recruit Lou Diamond Phil...
529,Crime Drama Thriller,mom,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Ravi Udyawar,Crime Drama Thriller mom Sridevi Kapoor Sajal Ali Akshaye KhannaRavi Ud...

In [50]:
movies_till_2017 = metadata.append(data)

In [51]:
movies_till_2017.drop_duplicates(keep = 'last', subset = 'movie_title', inplace = True)

In [53]:
movies_till_2017.shape

(5364, 7)

In [54]:
#Saving data into CSV format.
movies_till_2017.to_csv('movies_till_2017.csv', index = False)